body{
    display: flex;
    justify-content: center;
}
.title{
    margin-left: -30px;
}
.score-title{
    display: flex;
    gap: 10px;
}

.container{
    display: flex;
    gap: 50px;
}
.refresh{
    height: 27px;
    margin-top: 19px;
}
.display{
    margin-top: -90px;
}
.display:nth-child(even){
    background-color: rgb(209,209,209);
}
.form .inpoot{
margin-bottom: 15px;
}
.form .add-btn{
    display: flex;
    justify-content: flex-end;
}